<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
    <persistence-unit name="persistenceUnit">
        <class>models.Ticket</class>
        <class>models.FlightInfo</class>
        <class>models.Flight</class>
        <class>models.Client</class>
        <class>models.Board</class>
        <class>models.Airport</class>
        <properties>
            <property name="connection.jdbc.url" value="jdbc:mysql://localhost:3306/flight"/>
            <property name="connection.jdbc.driver" value="com.mysql.jdbc.Driver"/>
            <property name="connection.jdbc.user" value="root"/>
            <property name="connection.jdbc.password" value="root"/>
        </properties>
    </persistence-unit>
</persistence>